@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #6366f1;
    border-radius: 4px;
}

input[type="checkbox"]{
    accent-color: #6366f1;
}

.active{
    background-color: #eef2ff;
    border-color: #6366f1;
}